

.trait{                 /*******COMMUN*******/
    height:0.4vh;
    background-color:#FFCA28;
    margin:5px 0 40px 10px;
}

.h2{
    font-size:1.7rem;
    font-weight:bold;
    color:black;
    
    margin-left:30px;
}
#h3{
    font-size:1.2rem;
    font-weight:bold; 
}
#h4{
    font-size:1.0rem;
    margin:5px 0px 5px 0px;
}
#h5{
    font-size:1.2rem;
}








.bagage{              /*************IMAGE***************/
    height:4vh;
}                
.chapeau{
    height:4vh;
}
.imagepen{
    height:4vh;
}
.dotcercle,.cercle{
    height:1.2vh;
    margin-left:1.8vh;
}







/* **************** GAUCHE  ****************************/  
aside{             
    background-color:#FFCA28;
    border-radius:15px;
}



.photo{
    display: flex;
    justify-content:center;
    padding: 6vh 0 6vh 0;
}

#titrecontact{                          /*CONTACT*/
    background-color:#404040;
    border-radius:7px;
    color:#FFCA28;
    font-weight: bold;
    text-align:center;
    font-size:1.6rem;
    font-family:Arial;   

    padding:0.3vh 0 0.3vh 0;
}
#textcontact{
    margin:5vh 0 5vh 0;

    color:#404040;
    font-size:0.9rem;
    font-family:Arial;
}
#textcontact1{
    display:flex;
}
#contenantcontact{
    padding: 0.5vh 2vh 0.5vh 3.5vh;
    font-weight: bold;
}






#apropos{                         /*A PROPOS*/
   
    background-color: #404040;
    border-radius:7px;
    color:#FFCA28;
    text-align:center;
    font-weight:bold;
    font-size:1.7rem;
    font-family:arial;  
    
    padding:0.5vh 0 0.4vh 0;
}
#textapropo{
    text-align:justify;
    font-family:Arial;

    color:#404040;

    padding:2vh 4vh 15vh 4vh;
    margin: 3vh 0 20vh 0;
    
}





#loisirs{  
                  /*LOISIRS*/
    background-color: #404040;
    border-radius:7px;
    color:#FFCA28;
    text-align:center;
    font-weight:bold;
    font-size:1.7rem;
    padding:0.4vh 0 0.5vh 0;
}

#imageloisir{
    align-content:center;
    margin-left:3vh;
}
.iconeloisir{
    margin:2vh 0 2vh 0;
    height:60px;
}






/* ******************  DROITE  ****************** */

#nam{                  /* *********Titre********/
    color:#FFCA28;
}
#name{
    font-size:3rem;
    font-weight:normal;
    margin-top: 11vh;
    
    
}
#dev{
    border-bottom:#FFCA28 solid 0.4vh;
}
#textdevelop{
    font-size:1.7rem;
    margin-bottom:8vh;
    font-weight:bold;
    color:#404040;
}






#titreformation{        /* ******* FORMATION  ********/
    display:flex;
    font-weight: bold;
}

#date1{
    font-size:0.9rem;
}
#date2{
    font-size:0.9rem;
}
#textformation{
    font-size:0.9rem;
    text-align:justify;
}
#textformation p{
    font-family:Arial;
}







#titreexperience{       /*******EXPERIENCE PRO*********/
    display:flex;    
    margin-top:4.5vh;
}
#textexperience{
    font-size:0.9rem;
    margin-bottom:3.5vh;
}
#textexperience p{
    font-family:Arial;
}
#date3{    
    font-size:0.9rem;
}
#date4{
    font-size:0.9rem;
}
#date5{
    font-size:0.9rem;
}




#titrerecommandation{    /*******RECOMMANDATIONS********/
    display:flex;
    margin-top:2vh;
}
#cadrerecommandation{
    margin-bottom:4vh;
}



@media all and (max-width:1200px){
    .container{
        width:1170px;
    }
    #imageloisir{
        align-content:center;
        margin-left:2vh;   
    }
}

@media all and (max-width:1000px){
    .container{
        width:1000px;   
    }
    aside{
        height:2150px;
    }
    #dotcercle,#cercle{
        padding-left:4vh;
    }
    #textcontact{
        margin-bottom:4vh;
        margin-top:4vh;
    }

    #textapropo{
        margin-bottom:17vh;
    }

    #imageloisir{
        padding-left:5vh;
        margin-top:3vh;
    }   
    #textexperience{
        padding:2vh 0 0 13vh;       
    }    
}


@media all and (max-width:780px){
    .container{
        width:780px;
    }
    aside{
        height:580px;
    }
    #nam{
        font-size:2.5rem;
    }
    #name{
        font-size:2.6rem;
    }
    #name,#textdevelop{
        background-color:white;
        text-align:center;
        border-radius:10px;
    }
    .img-circle{
        margin-top:-20px;
        margin-bottom:-20px;
    }        
    #titreformation{    
        margin-top:6vh;
    }


  


    #textapropo{
        padding:2vh 2vh 2vh 2vh;
        margin:0 0 0 0;
        background-color:#FFCA28;
        border-radius:15px;
    }
    #imageloisir{
        display:flex;
        justify-content:space-around;

        margin:0 0.5vh 0 0px;
        padding-left:0;
    }
    #quelquechose{
        background-color:#FFCA28;
        border-radius:15px;
        padding:2vh 2vh 2vh 2vh;
    }
    .iconeloisir{
        height:6.5vh;
    }
}